@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #242424;  
    background-size: cover;
}

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: rgb(252, 62, 4);
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bolder;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
    background: #141414;
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .nav-list {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    padding-top: 15px;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 35px; 
  }
  /*---Menu Hamburguer ---*/
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position:fixed;
      top: 8vh;
      right: 0;
      width: 100%;
      height:100%;
      background: #d84400; 
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  .nav-list.active {
    transform: translateX(0);
  }
  .hdskills{
    text-align: center;
  }
  
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }  
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* --------- Text -----------*/
  h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 110px 0;
  overflow: hidden;
}
.section-title h2::after {
  content: "";
;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: 0;
}

  /*------- Init -----*/
#init{
    width: 100%;
    height: 80vh;
    margin: 0;
 }
.init-container{
    min-width: 300px;
}
#init h2{
    color: white;
    font-size: 80px;
    margin-top: -15px;
}
#init p{
    color: white;
    font-size: 26px;
    margin-left: 2px;
    margin-top: -10px;
}

.name{
    color: rgba(245, 100, 42, 0.986);
}
.nameupper{
  color: rgba(245, 100, 42, 0.986);
  text-transform: uppercase;
 
}
.typed{
    color: rgba(245, 100, 42, 0.986);
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(245, 100, 42, 0.986);    
}
.social{
    color: white;
    font-size: 30px;
  }
.social:hover{
    color:  rgba(245, 100, 42, 0.986);
    transition: 0.5s ease;
}
/*--- ABOUT ME -----*/
.about {
  margin-top: 100px;
  margin-bottom: 200px;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: rgba(245, 100, 42, 0.986);
}
.section-title{
text-align:center;
}
.section-title{
  font-size: 24px;
}
.section-title h1{
  text-align: center;
}
.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}
#descript {
  color:#fff;
  text-decoration: uppercase;
}

.about .content ul li {
  font-size: 16px;
  margin-right: 5px;
  color:  rgba(245, 100, 42, 0.986);
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/* MY SKILLS */
.skills{
  margin-bottom: 370px;
}


.myskills{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hardskills{
  display: flex;
  justify-content: center;
}
.hdskills{
  display: flex;
  justify-content: center; 
  color:  rgba(245, 100, 42, 0.986);
  font-size: 38px;
  border-bottom: #d84400 2px solid;
}
.hardicons{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4px;
  font-size: 20px;  
}
/* .hdskills{
  display: flex;
  justify-content: center;
  font-size: 30px;
  color:rgba(245, 100, 42, 0.986);
  font-weight: bold;
  margin-bottom: 500px;
  border-bottom: #d84400 2px solid;
}

.hardskills{
  display: flex;
  flex-direction: column;
} */
.hardicons{
  color: #d84400;
}
